<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzd.shiro.db.dao.mapper.TbUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.yzd.shiro.db.entity.table.TbUserRole">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="gmt_create_time" jdbcType="TIMESTAMP" property="gmtCreateTime" />
    <result column="gmt_is_del" jdbcType="INTEGER" property="gmtIsDel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, role_id, version, gmt_create_time, gmt_is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insertSelective" parameterType="com.yzd.shiro.db.entity.table.TbUserRole">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="gmtCreateTime != null">
        gmt_create_time,
      </if>
      <if test="gmtIsDel != null">
        gmt_is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreateTime != null">
        #{gmtCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtIsDel != null">
        #{gmtIsDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yzd.shiro.db.entity.table.TbUserRole">
    update tb_user_role
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreateTime != null">
        gmt_create_time = #{gmtCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtIsDel != null">
        gmt_is_del = #{gmtIsDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--自定义脚本////////////////////////////////////////////////////////////////////////////////////////////////-->
  <sql id="Query_Where_Clause" >
    <if test="pojo != null" >
      <if test="pojo.id != null"> id = #{pojo.id}, </if>
      <if test="pojo.userId != null"> user_id = #{pojo.userId}, </if>
      <if test="pojo.roleId != null"> role_id = #{pojo.roleId}, </if>
      <if test="pojo.version != null"> version = #{pojo.version}, </if>
      <if test="pojo.gmtCreateTime != null"> gmt_create_time = #{pojo.gmtCreateTime}, </if>
      <if test="pojo.gmtIsDel != null"> gmt_is_del = #{pojo.gmtIsDel} </if>
    </if>
  </sql>
  <sql id="Query_Where_ClauseForPageWhere">
    <if test="pageWhere != null">limit #{pageWhere.begin},#{pageWhere.size}</if>
  </sql>
  <sql id="Query_Where_ClauseForPojo" >
    <where>
      <include refid="Query_Where_Clause" />
    </where>
  </sql>
  <sql id="Query_Where_ClauseForExtendWhere" >
    <where>
      <include refid="Query_Where_Clause" />
      <if test="extendWhere != null" >
        <if test="extendWhere.userId4InList != null">
          AND user_id IN
          <foreach item="item" index="index" collection="extendWhere.userId4InList" open="(" separator="," close=")"> #{item}</foreach>
        </if>
      </if>
    </where>
  </sql>
  <select id="selectList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM tb_user_role
    <include refid="Query_Where_ClauseForExtendWhere" />
    ORDER BY id
    <include refid="Query_Where_ClauseForPageWhere" />
  </select>
  <select id="selectCount" resultType="java.lang.Long">
    SELECT COUNT(*)
    FROM tb_user_role
    <include refid="Query_Where_ClauseForExtendWhere" />
  </select>
</mapper>